In [1]:
import pandas as pd
import numpy as np
from imblearn.over_sampling import SMOTE # Pour avoir 50 % de 0 et 50 % de 1 dans la colonne presence_incendie
from sklearn.linear_model import LogisticRegression # Regression logistique
from sklearn import metrics
from sklearn.model_selection import RepeatedKFold #KFold répété, pour 
from sklearn.model_selection import train_test_split

In [2]:
df_accidents = pd.read_csv('caracteristiques-2019.csv', sep=";")
df_usagers = pd.read_csv('usagers-2019.csv', sep=";")
df_lieux = pd.read_csv('lieux-2019.csv', sep=";")
df_vehicules = pd.read_csv('vehicules-2019.csv', sep=";")
df_test = df_accidents.merge(df_usagers.merge(df_lieux.merge(df_vehicules)))

In [3]:
df_test

,Num_Acc,jour,mois,an,hrmn,lum,dep,com,agg,int,...,situ,vma,senc,catv,obs,obsm,choc,manv,motor,occutc
0,201900000001,30,11,2019,01:30,4,93,93053,1,1,...,1,70,2,7,0,2,5,23,1,NaN
1,201900000001,30,11,2019,01:30,4,93,93053,1,1,...,1,70,2,7,0,2,5,23,1,NaN
2,201900000001,30,11,2019,01:30,4,93,93053,1,1,...,1,70,2,17,1,0,3,11,1,NaN
3,201900000002,30,11,2019,02:50,3,93,93066,1,1,...,1,70,1,7,4,0,1,0,1,NaN
4,201900000003,28,11,2019,15:15,1,92,92036,1,1,...,1,90,1,7,0,2,1,2,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132972,201900058837,27,11,2019,07:50,1,67,67482,1,1,...,1,90,1,7,0,2,1,2,1,NaN
132973,201900058838,30,11,2019,02:41,4,94,94021,1,1,...,1,90,2,7,3,0,1,21,0,NaN
132974,201900058839,30,11,2019,15:20,1,78,78640,1,1,...,1,50,2,33,0,0,7,1,1,NaN
132975,201900058840,29,11,2019,20:50,3,92,92047,1,1,...,2,110,1,10,0,2,4,0,2,NaN
132976,201900058840,29,11,2019,20:50,3,92,92047,1,1,...,2,110,1,10,0,2,1,0,1,NaN

In [4]:
df_test.iloc[789]
df_utiles = df_test.drop(axis=1, labels=['Num_Acc', 'com', 'adr', 'v1', 'id_vehicule', 'num_veh', 'lartpc', 'larrout', 'occutc', 'v2', 'voie'])
df_utiles = df_utiles.dropna()
df_utiles["hrmn"] = pd.to_datetime(df_utiles["hrmn"], format='%H:%S')
for i in df_utiles.index:
    df_utiles["hrmn"][i] = (int(df_utiles["hrmn"][i].hour))*60 + (int(df_utiles["hrmn"][i].minute))
df_utiles.dtypes

C:\Users\thomas\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

jour        int64
mois        int64
an          int64
hrmn       object
lum         int64
dep        object
agg         int64
int         int64
atm         int64
col         int64
lat        object
long       object
place       int64
catu        int64
grav        int64
sexe        int64
an_nais     int64
trajet      int64
secu1       int64
secu2       int64
secu3       int64
locp        int64
actp       object
etatp       int64
catr        int64
circ        int64
nbv         int64
vosp        int64
prof        int64
pr         object
pr1        object
plan        int64
surf        int64
infra       int64
situ        int64
vma         int64
senc        int64
catv        int64
obs         int64
obsm        int64
choc        int64
manv        int64
motor       int64
dtype: object

In [6]:
df_utiles["hrmn"] = df_utiles["hrmn"].astype('int64')
df_utiles["dep"] = df_utiles["dep"].replace(["2B"], "999") #On remplace les codes des départements de la Corse par des int
df_utiles["dep"] = df_utiles["dep"].replace(["2A"], "998")
df_utiles["actp"] = df_utiles["actp"].replace(["A"], "14") #On remplace les actions du piéton non encodées par des chiffres
df_utiles["actp"] = df_utiles["actp"].replace(["B"], "15")
df_utiles["dep"] = df_utiles["dep"].astype('int64')
df_utiles["presence_deces"] = 0
df_utiles.to_csv('df_utiles.csv')

In [115]:
for i in df_utiles.index:
    if df_utiles["grav"][i] == 2:
        df_utiles["presence_deces"][i] = 1

C:\Users\thomas\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [119]:
df_utiles.head(12478)

,jour,mois,an,hrmn,lum,dep,agg,int,atm,col,...,situ,vma,senc,catv,obs,obsm,choc,manv,motor,presence_deces
0,30,11,2019,60,4,93,1,1,1,2,...,1,70,2,7,0,2,5,23,1,0
1,30,11,2019,60,4,93,1,1,1,2,...,1,70,2,7,0,2,5,23,1,0
2,30,11,2019,60,4,93,1,1,1,2,...,1,70,2,17,1,0,3,11,1,0
3,30,11,2019,120,3,93,1,1,1,6,...,1,70,1,7,4,0,1,0,1,0
4,28,11,2019,900,1,92,1,1,1,4,...,1,90,1,7,0,2,1,2,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12473,20,12,2019,540,1,84,2,1,3,6,...,1,50,3,7,0,1,1,2,1,0
12474,17,12,2019,1080,5,62,2,1,2,6,...,1,50,1,7,0,1,1,26,1,0
12475,17,12,2019,1080,5,62,2,1,2,6,...,1,50,1,7,0,1,1,26,1,0
12476,6,11,2019,480,1,6,2,1,1,6,...,1,50,1,7,0,1,1,15,1,1
12477,6,11,2019,480,1,6,2,1,1,6,...,1,50,1,7,0,1,1,15,1,0

In [142]:
X = df_utiles.iloc[:, :40]
y = df_utiles.iloc[:, 39:]
y = y.astype(int)
os = SMOTE(random_state=0)
cv = RepeatedKFold(n_splits=3, n_repeats=3, random_state=1)
for train_index, test_index in cv.split(X):
    X_train, X_test = X.iloc[train_index], X.iloc[test_index]
    y_train, y_test = y.iloc[train_index], y.iloc[test_index]
#X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)
columns = X_train.columns
X_train,y_train=os.fit_resample(X_train, y_train)
X_train = pd.DataFrame(data=X_train,columns=columns )
y_train= pd.DataFrame(data=y_train,columns=['presence_deces'])
logreg = LogisticRegression(solver='lbfgs')
logreg.fit(X_train, y_train)
y_pred = logreg.predict(X_test)
print(y_pred)
print(logreg.coef_)
print('Précision de la classification par régression logistique : ',logreg.score(X_test, y_test)*100,"%")
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
print(cm)
print(X_test)

C:\Users\thomas\Anaconda3\lib\site-packages\sklearn\utils\validation.py:985: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\thomas\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

[0 0 0 ... 0 1 0]
[[ 2.73987466e-03 -6.70203730e-02  2.25472254e-02 -1.04455180e-04
   1.22459334e-02 -1.22923420e-04 -5.13196838e-02 -8.91576932e-02
  -5.32727693e-03  3.42500318e-02  2.95651404e-02 -2.38462986e-02
  -1.00609261e-01 -4.80073720e-02 -2.28706142e-02  3.18240927e-03
  -1.51021154e-02 -1.18582486e-01  2.46578175e-02  6.21374131e-02
   6.39613264e-02  1.37687446e-02 -2.81836442e-02 -1.78562208e-03
  -9.27181725e-02 -1.43438401e-02 -1.61619412e-02  4.37349347e-04
  -2.13846618e-02 -3.63823176e-02  6.95979551e-02  9.97252018e-03
  -5.13199296e-02  2.51850340e-02  1.80427344e-01 -1.21653666e-01
  -9.29610080e-02  2.35175720e-03 -3.72598836e-03  1.81444509e-01]]
Précision de la classification par régression logistique :  75.98195149464185 %
[[32876 10253]
 [  393   803]]
        jour  mois    an  hrmn  lum  dep  agg  int  atm  col  ...  situ  vma  \
1         30    11  2019    60    4   93    1    1    1    2  ...     1   70
4         28    11  2019   900    1   92    1    1    1    4  ...     1   90
5         28    11  2019   900    1   92    1    1    1    4  ...     1   90
9         30    11  2019  1200    5   94    1    1    1    4  ...     1   90
15        28    11  2019   840    1   87    1    3    2    3  ...     1   30
...      ...   ...   ...   ...  ...  ...  ...  ...  ...  ...  ...   ...  ...
132953     1    12  2019   600    1   16    1    1    1    6  ...     1   50
132960    29    11  2019   720    1   13    1    1    1    4  ...     1  110
132961    29    11  2019   720    1   13    1    1    1    4  ...     1  110
132969    30    11  2019   540    1   69    1    1    5    2  ...     1  130
132975    29    11  2019  1200    3   92    1    1    1    2  ...     2  110

        senc  catv  obs  obsm  choc  manv  motor  presence_deces
1          2     7    0     2     5    23      1               0
4          1     7    0     2     1     2      1               0
5          1     7    0     2     1     2      1               0
9          2     7    0     2     4    23      1               0
15         1     7    0     2     1     1      1               0
...      ...   ...  ...   ...   ...   ...    ...             ...
132953     2     7    6     0     1     1      1               0
132960     2    10    0     2     4     2      1               0
132961     2    10    0     2     4     2      1               0
132969     2     7    3     2     1    21      1               0
132975     1    10    0     2     4     0      2               0

[44325 rows x 40 columns]

In [2]:
# ARIMA
import matplotlib
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
from statsmodels.tsa.arima.model import ARIMA

In [ ]:
%matplotlib inline
from datetime import date
df_utiles = pd.read_csv('df_utiles.csv')
df_utiles["gigajour"] = 0
df_utiles["gigajour"] = df_utiles["jour"].astype(str)+'/'+df_utiles["mois"].astype(str)+'/'+df_utiles["an"].astype(str)
df_utiles["gigajour"] = pd.to_datetime(df_utiles["gigajour"], format="%d/%m/%Y")
df_utiles["colonne_soustraction"] = date(df_utiles["an"].iloc[0], 1, 1)
df_utiles["colonne_soustraction"] = pd.to_datetime(df_utiles["colonne_soustraction"])
df_utiles["nbre_j"] = df_utiles["gigajour"] - df_utiles["colonne_soustraction"]
def datification(x):
    return x.days
df_utiles["nbre_j"] = df_utiles["nbre_j"].apply(datification)
nbre_acc_j = df_utiles.groupby(['nbre_j']).agg('count').jour.values
print(nbre_acc_j)
ts = pd.Series(nbre_acc_j, index=pd.date_range("1/1/2019", periods=365))
print(ts)
plt.plot(nbre_acc_j, [i for i in range(365)])
plt.savefig('test.png')